<%= javascript_include_tag 'application' %>
<%=form_tag :action => 'dash',:class => 'container' do %>
<fieldset style="background: #5c5f64;">
  <table align="center">
    <tbody>
      <%=link_to 'Sign Up', :action=>'new'%>
<%#if flash[:notice].present?%>
<%#end%>
<%if flash[:warning].present?%>
<p class="flash_warning"><%=flash[:warning]%></p>
<%end%>
  <td>
<b style="color: white;">Email:</b> </br><%=text_field 'user','email', :class=>"texts" ,:style=>"background: darkturquoise;"%></td>
</tr>
<tr><td>
<b style="color:  white;">Password:</b></br> <%=password_field 'user','password', :class=>"texts",:style=>"background: darkturquoise;"%></td></tr>
<tr><td>
<center><%=submit_tag 'Sign In', :class => 'signup',:style=>"background: darkturquoise;"%></center></td></tr>

</tbody>
</table>
</fieldset>
<%end%>
